Repository Apptive2022-1/apptive-17th-PNUStudent, pull requests merged in 2022-12, with the labels that each got.

#4 CHORE .gitignore
  backend/.gitignore
Labels: 🧞‍♀️ BACKEND, chore

#5 FEAT User models
  backend/users/__init__.py
  backend/users/__pycache__/urls.cpython-310.pyc
  backend/users/__pycache__/views.cpython-310.pyc
  backend/users/admin.py
  backend/users/apps.py
  backend/users/migrations/0001_initial.py
  backend/users/migrations/__init__.py
  backend/users/migrations/__pycache__/0001_initial.cpython-310.pyc
  backend/users/migrations/__pycache__/__init__.cpython-310.pyc
  backend/users/models.py
  backend/users/serializers.py
  backend/users/tests.py
  backend/users/urls.py
  backend/users/views.py
Labels: 🧞‍♀️ BACKEND, FEATURE

#6 FEAT Common model
  backend/common/__init__.py
  backend/common/__pycache__/__init__.cpython-310.pyc
  backend/common/__pycache__/admin.cpython-310.pyc
  backend/common/__pycache__/apps.cpython-310.pyc
  backend/common/__pycache__/models.cpython-310.pyc
  backend/common/admin.py
  backend/common/apps.py
  backend/common/migrations/__init__.py
  backend/common/migrations/__pycache__/__init__.cpython-310.pyc
  backend/common/models.py
  backend/common/tests.py
  backend/common/views.py
Labels: 🧞‍♀️ BACKEND, FEATURE

#7 FEAT announce Model
  backend/announces/__init__.py
  backend/announces/__pycache__/__init__.cpython-310.pyc
  backend/announces/__pycache__/admin.cpython-310.pyc
  backend/announces/__pycache__/apps.cpython-310.pyc
  backend/announces/__pycache__/models.cpython-310.pyc
  backend/announces/__pycache__/serializers.cpython-310.pyc
  backend/announces/__pycache__/urls.cpython-310.pyc
  backend/announces/__pycache__/views.cpython-310.pyc
  backend/announces/admin.py
  backend/announces/apps.py
  backend/announces/migrations/0001_initial.py
  backend/announces/migrations/0002_announce_kind.py
  backend/announces/migrations/__init__.py
  backend/announces/migrations/__pycache__/0001_initial.cpython-310.pyc
  backend/announces/migrations/__pycache__/0002_announce_kind.cpython-310.pyc
  backend/announces/migrations/__pycache__/__init__.cpython-310.pyc
  backend/announces/models.py
  backend/announces/serializers.py
  backend/announces/tests.py
  backend/announces/urls.py
  backend/announces/views.py
Labels: 🧞‍♀️ BACKEND, FEATURE

#8 FEAT benefit Model
  backend/benefits/__init__.py
  backend/benefits/__pycache__/__init__.cpython-310.pyc
  backend/benefits/__pycache__/admin.cpython-310.pyc
  backend/benefits/__pycache__/apps.cpython-310.pyc
  backend/benefits/__pycache__/models.cpython-310.pyc
  backend/benefits/admin.py
  backend/benefits/apps.py
  backend/benefits/migrations/0001_initial.py
  backend/benefits/migrations/__init__.py
  backend/benefits/migrations/__pycache__/0001_initial.cpython-310.pyc
  backend/benefits/migrations/__pycache__/__init__.cpython-310.pyc
  backend/benefits/models.py
  backend/benefits/serializers.py
  backend/benefits/tests.py
  backend/benefits/urls.py
  backend/benefits/views.py
Labels: 🧞‍♀️ BACKEND, FEATURE

#9 CHORE : Django manage.py
  backend/manage.py
Labels: 🧞‍♀️ BACKEND, chore

#10 FEAT medias model
  backend/medias/__init__.py
  backend/medias/__pycache__/__init__.cpython-310.pyc
  backend/medias/__pycache__/admin.cpython-310.pyc
  backend/medias/__pycache__/apps.cpython-310.pyc
  backend/medias/__pycache__/models.cpython-310.pyc
  backend/medias/__pycache__/serializers.cpython-310.pyc
  backend/medias/__pycache__/urls.cpython-310.pyc
  backend/medias/__pycache__/views.cpython-310.pyc
  backend/medias/admin.py
  backend/medias/apps.py
  backend/medias/migrations/0001_initial.py
  backend/medias/migrations/__init__.py
  backend/medias/migrations/__pycache__/0001_initial.cpython-310.pyc
  backend/medias/migrations/__pycache__/__init__.cpython-310.pyc
  backend/medias/models.py
  backend/medias/serializers.py
  backend/medias/tests.py
  backend/medias/urls.py
  backend/medias/views.py
Labels: 🧞‍♀️ BACKEND, FEATURE

#11 FEAT petitions Model
  backend/petitions/__init__.py
  backend/petitions/__pycache__/__init__.cpython-310.pyc
  backend/petitions/__pycache__/admin.cpython-310.pyc
  backend/petitions/__pycache__/apps.cpython-310.pyc
  backend/petitions/__pycache__/models.cpython-310.pyc
  backend/petitions/__pycache__/serializers.cpython-310.pyc
  backend/petitions/__pycache__/urls.cpython-310.pyc
  backend/petitions/__pycache__/views.cpython-310.pyc
  backend/petitions/admin.py
  backend/petitions/apps.py
  backend/petitions/migrations/0001_initial.py
  backend/petitions/migrations/0002_petition_agree.py
  backend/petitions/migrations/0003_rename_agree_petitionagree_petitioncomment_and_more.py
  backend/petitions/migrations/0004_remove_petition_comment_delete_petitioncomment.py
  backend/petitions/migrations/__init__.py
  backend/petitions/migrations/__pycache__/0001_initial.cpython-310.pyc
  backend/petitions/migrations/__pycache__/0002_petition_agree.cpython-310.pyc
  backend/petitions/migrations/__pycache__/0003_rename_agree_petitionagree_petitioncomment_and_more.cpython-310.pyc
  backend/petitions/migrations/__pycache__/0004_remove_petition_comment_delete_petitioncomment.cpython-310.pyc
  backend/petitions/migrations/__pycache__/__init__.cpython-310.pyc
  backend/petitions/models.py
  backend/petitions/serializers.py
  backend/petitions/tests.py
  backend/petitions/urls.py
  backend/petitions/views.py
Labels: 🧞‍♀️ BACKEND, FEATURE

#12 FEAT comment Model
  backend/comments/__init__.py
  backend/comments/__pycache__/__init__.cpython-310.pyc
  backend/comments/__pycache__/admin.cpython-310.pyc
  backend/comments/__pycache__/apps.cpython-310.pyc
  backend/comments/__pycache__/models.cpython-310.pyc
  backend/comments/__pycache__/serializers.cpython-310.pyc
  backend/comments/admin.py
  backend/comments/apps.py
  backend/comments/migrations/0001_initial.py
  backend/comments/migrations/0002_initial.py
  backend/comments/migrations/0003_remove_comment_petitions_alter_comment_payload.py
  backend/comments/migrations/0004_comment_petition.py
  backend/comments/migrations/__init__.py
  backend/comments/migrations/__pycache__/0001_initial.cpython-310.pyc
  backend/comments/migrations/__pycache__/0002_initial.cpython-310.pyc
  backend/comments/migrations/__pycache__/0003_remove_comment_petitions_alter_comment_payload.cpython-310.pyc
  backend/comments/migrations/__pycache__/0004_comment_petition.cpython-310.pyc
  backend/comments/migrations/__pycache__/__init__.cpython-310.pyc
  backend/comments/models.py
  backend/comments/serializers.py
  backend/comments/tests.py
  backend/comments/views.py
Labels: 🧞‍♀️ BACKEND, FEATURE

#13 FEAT category Model
  backend/categories/__init__.py
  backend/categories/__pycache__/__init__.cpython-310.pyc
  backend/categories/__pycache__/admin.cpython-310.pyc
  backend/categories/__pycache__/apps.cpython-310.pyc
  backend/categories/__pycache__/models.cpython-310.pyc
  backend/categories/__pycache__/serializers.cpython-310.pyc
  backend/categories/__pycache__/urls.cpython-310.pyc
  backend/categories/__pycache__/views.cpython-310.pyc
  backend/categories/admin.py
  backend/categories/apps.py
  backend/categories/migrations/0001_initial.py
  backend/categories/migrations/0002_alter_category_kind.py
  backend/categories/migrations/__init__.py
  backend/categories/migrations/__pycache__/0001_initial.cpython-310.pyc
  backend/categories/migrations/__pycache__/0002_alter_category_kind.cpython-310.pyc
  backend/categories/migrations/__pycache__/__init__.cpython-310.pyc
  backend/categories/models.py
  backend/categories/serializers.py
  backend/categories/tests.py
  backend/categories/urls.py
  backend/categories/views.py
Labels: 🧞‍♀️ BACKEND, FEATURE

#14 Update django config
  backend/config/__init__.py
  backend/config/__pycache__/__init__.cpython-310.pyc
  backend/config/__pycache__/authentication.cpython-310.pyc
  backend/config/__pycache__/settings.cpython-310.pyc
  backend/config/__pycache__/urls.cpython-310.pyc
Labels: 🧞‍♀️ BACKEND

#15 FEAT Inquiry Model
  backend/inquiries/__init__.py
  backend/inquiries/__pycache__/__init__.cpython-310.pyc
  backend/inquiries/__pycache__/admin.cpython-310.pyc
  backend/inquiries/__pycache__/apps.cpython-310.pyc
  backend/inquiries/__pycache__/models.cpython-310.pyc
  backend/inquiries/__pycache__/serializers.cpython-310.pyc
  backend/inquiries/__pycache__/urls.cpython-310.pyc
  backend/inquiries/__pycache__/views.cpython-310.pyc
  backend/inquiries/admin.py
  backend/inquiries/apps.py
  backend/inquiries/migrations/0001_initial.py
  backend/inquiries/migrations/0002_rename_inquiry_connected_inquiryanswer_inquiry_connected_and_more.py
  backend/inquiries/migrations/__init__.py
  backend/inquiries/migrations/__pycache__/0001_initial.cpython-310.pyc
  backend/inquiries/migrations/__pycache__/0002_rename_inquiry_connected_inquiryanswer_inquiry_connected_and_more.cpython-310.pyc
  backend/inquiries/migrations/__pycache__/__init__.cpython-310.pyc
  backend/inquiries/models.py
  backend/inquiries/serializers.py
  backend/inquiries/tests.py
  backend/inquiries/urls.py
  backend/inquiries/views.py
Labels: 🧞‍♀️ BACKEND, FEATURE

#18 FEATURE hits function
  backend/benefits/views.py
  backend/common/models.py
  backend/inquiries/views.py
  backend/petitions/models.py
  backend/petitions/views.py
Labels: 🧞‍♀️ BACKEND, FEATURE

#20 Merge from parent [Add hits version]
  backend/benefits/views.py
  backend/common/models.py
  backend/inquiries/views.py
  backend/petitions/models.py
  backend/petitions/views.py
Labels: 🧞‍♀️ BACKEND, 🗄 DB change

#21 CHORE .gitignore update
  .gitignore
  backend/.gitignore
Labels: 🧞‍♀️ BACKEND, 🗄 DB change, chore

#22 FEATURE survey, setduration model
  backend/setdurations/__init__.py
  backend/setdurations/admin.py
  backend/setdurations/apps.py
  backend/setdurations/migrations/__init__.py
  backend/setdurations/models.py
  backend/setdurations/tests.py
  backend/setdurations/views.py
  backend/surveys/__init__.py
  backend/surveys/admin.py
  backend/surveys/apps.py
  backend/surveys/migrations/0001_initial.py
  backend/surveys/migrations/0002_initial.py
  backend/surveys/migrations/__init__.py
  backend/surveys/models.py
  backend/surveys/serializers.py
  backend/surveys/tests.py
  backend/surveys/urls.py
  backend/surveys/views.py
Labels: 🧞‍♀️ BACKEND, FEATURE

#25 2022/12/10 1st frontend
  frontend/src/App.js
  frontend/src/component/Home/HomePagePetition.js
  frontend/src/css/Home/HomePetition.css
  frontend/src/css/SurveyDetailPage.css
  frontend/src/pages/PetitionDetailPage.js
  frontend/src/pages/PetitionPage.js
  frontend/src/pages/PetitionPostPage.js
  frontend/src/pages/SurveyDetailPage.js
  frontend/src/requests/requests.js
Labels: 🧞‍♂️ FRONTEND

#27 FIX Category Inheritance status
  backend/.gitignore
  backend/categories/models.py
  backend/petitions/models.py
Labels: BUG, 🧞‍♀️ BACKEND, chore

#29 FEATURE Survey function
  backend/surveys/models.py
  backend/surveys/serializers.py
  backend/surveys/views.py
Labels: 🧞‍♀️ BACKEND, 🧞‍♂️ FRONTEND, FEATURE

#30 DOCS for postman
  backend/config/authentication.py
  backend/users/models.py
  backend/users/urls.py
Labels: documentation, 🧞‍♀️ BACKEND, 🗣 Discussion

#34 FIX /Announces page get invalid response
  backend/announces/views.py
Labels: 🧞‍♀️ BACKEND, FEATURE

#41 FIX Benefits urls.py
  backend/config/urls.py
Labels: BUG, 🧞‍♀️ BACKEND

#45 FIX Benefit page 및 main get 오류
  backend/benefits/models.py
  backend/benefits/serializers.py
Labels: 🧞‍♀️ BACKEND

#47 Update settings.py
  backend/config/settings.py
Labels: 🧞‍♀️ BACKEND, AWS

#52 Set server information
  backend/.config/nginx/mysite.conf
  backend/.config/uwsgi/mysite.ini
  backend/.config/uwsgi/uwsgi.service
Labels: 🧞‍♀️ BACKEND, AWS

#56 HOTFIX functions
  backend/announces/serializers.py
  backend/announces/views.py
  backend/benefits/serializers.py
  backend/inquiries/serializers.py
  backend/petitions/admin.py
  backend/petitions/models.py
  backend/petitions/serializers.py
Labels: 🧞‍♀️ BACKEND, 🗄 DB change, Additional Function

#57 Feature/frontend merge to launching
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/component/App/AppHeader.js
  frontend/src/component/Home/HomePageAnnounce.js
  frontend/src/component/Home/HomePagePetition.js
  frontend/src/css/App/AppHeader.css
  frontend/src/css/Login.css
  frontend/src/css/PetitionDetailPage.css
  frontend/src/css/PetitionPage.css
  frontend/src/css/PetitionPostPage.css
  frontend/src/css/PostSuccessPage.css
  frontend/src/css/SignUp.css
  frontend/src/css/SurveyDetailPage.css
  frontend/src/css/SurveyPostPage.css
  frontend/src/img/check/checkBoxOff.png
  frontend/src/img/check/checkBoxOn.png
  frontend/src/img/check/radioOff.png
  frontend/src/img/check/radioOn.png
  frontend/src/img/test.png
  frontend/src/pages/AnnounceDetailPage.js
  frontend/src/pages/AnnouncePage.js
  frontend/src/pages/FindInp.js
  frontend/src/pages/Home.js
  frontend/src/pages/Login.js
  frontend/src/pages/PetitionDetailPage.js
  frontend/src/pages/PetitionPage.js
  frontend/src/pages/PetitionPostPage.js
  frontend/src/pages/PostSuccessPage.js
  frontend/src/pages/SignUp.js
  frontend/src/pages/SurveyDetailPage.js
  frontend/src/pages/SurveyPostPage.js
  frontend/src/requests/requests.js
Labels: 🧞‍♂️ FRONTEND

#60 Add CORS_ALLOW_METHODS
  backend/config/settings.py
Labels: 🧞‍♀️ BACKEND, 🗄 DB change, chore

#66 221228 frontEnd merge debug
  frontend/src/component/Home/HomePageAnnounce.js
Labels: BUG, 🧞‍♂️ FRONTEND

#67 HOTFIX petition agree_count
  backend/petitions/models.py
  backend/petitions/serializers.py
Labels: 🧞‍♀️ BACKEND, Additional Function, AWS

#68 221228 frontEnd merge change icon and web title
  frontend/public/icon.png
  frontend/public/index.html
Labels: 🧞‍♂️ FRONTEND
